<ul class="list-group">
  <% @inventories.each do |inventory| %>
    <li class="list-group-item">
      <b>Title: </b><%= inventory.book.title %><br/>
      <b>Description: </b><%= inventory.book.description %><br/>
      <b>Author: </b><%= inventory.book.author %><br/>
    </li>
  <% end %>
</ul>